.form-control{
    width: 85%;
}

.search-bar-withicon{
    position: relative;
}

.btn{
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0%;
    top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
